ipykernel
python-dotenv
openbb[all]
# openbb-charting
# selenium
openai
tiktoken
pydantic # ==1.10
langchain >= 0.2
langchain-openai
langchain-community
magentic
wikipedia
# edgartools
sec-api
sec-parser
streamlit
